body {
	background: #222236;
	color: #EEF;
	margin: 0;
	padding: 0;
	width: 100vw;
	max-width: 100vw;
	height: 95vh;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: Roboto;
}

p {
	font-size: 20px;
	line-height: 160%;
	text-align: left;
	padding: 10px;
	margin: 0;
}

a {
	color: #EEF;
	text-decoration: none;
	line-height: 100%;
}

a:hover {
	background: rgba(255, 255, 255, 0.2);
	color: white;
}

.center {
	text-align: center;
	margin: auto;
	padding: 0 20px;
}

.center-block {
	max-width: 900px;
	margin: auto;
}

/*
canvas {
	position: fixed;
	top: 0;
}*/

#main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

#center-piece {
  position: absolute;
  width: 30vw;
  left: 35vw;
  font-family: Roboto;
  font-size: 2.6vw;
  text-align: left;
  vertical-align: middle;
	overflow: hidden;
}

.quote-by {
  font-size: 1.6vw;
  text-align: right;
	font-style: italic;
	margin-right: 3px;
}

#center-piece div {
  transition: top ease 3s;
  position: relative;
	top: 0;
}

.out .quote {
  top: -200px !important;
}

.out .quote-by {
  top: 200px !important;
}

#logo, nav {
	position: absolute;
	margin: 40px;
	overflow: hidden;
	top: 0;
	transition: top ease 2s;
	z-index: 200;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.out #logo, .out nav {
	top: -100px;
}

#logo {
	left: 0;
	
}

#logo .img {
	float: left;
	overflow: hidden;
}

#logo img {
	position: relative;
	width: 80px;
	transition: left ease 3s, width ease 0.3s;
	left: 0;
}

.out #logo img {
	left: 100px;
}

#logo a {
	float: left;
	display: inline-block;
	clear: both;
	color: #EEF;
	font-size: 20px;
	margin: 5px;
	text-decoration: none;
	line-height: 100%;
	transition: margin-left ease 3s, font-size ease 0.3s;;
}

.out #logo a {
	margin-left: -300px;
}

nav {
	position: absolute;
	right: 0;
}

nav .item {
	padding: 25px;
	float: left;
	display: inline-block;
	font-size: 25px;
	cursor: pointer;
	position: relative;
	left: 0;
	transition: left ease 3s;
}

.out nav .item {
	left: -400px;
}

nav .item:hover {
	background: none;
}

nav .item .underline {
	height: 2px;
	background: white;
	width: 0;
	margin: 5px auto;
	transition: width ease 0.3s;
}

nav .item.active .underline {
	width: 25%;
}

nav .item:hover .underline {
	width: 100%;
}

.links {
  float: right;
  padding: 10px 20px;
	overflow: hidden;
}

.view {
	left: 0;
	top: 0;
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	transition: left ease 0.4s;
}

.view-away {
	left: -100vw;
}

.header-margin {
	width: 100%;
	height: 160px;
	padding: 0;
	margin: 0;
	background: rgba(20, 0, 10, 0.2);
}

@media screen and (max-width: 1200px) {
  #center-piece {
    width: 60vw;
    left: 20vw;
    font-size: 5.2vw;
	}
	.quote-by {
    font-size: 3.2vw;
	}
}

@media screen and (max-width: 750px) {
  nav .item {
		padding: 10px;
		font-size: 20px;
		line-height: 90%;
	}
	
	#logo, nav {
		margin: 30px;
	}
	
	nav {
		transition: none;
		top: 20px;
	}
}

@media screen and (max-width: 568px) {
	nav .item {
		padding: 8px;
	}
	
	#logo, nav {
		margin: 15px;
		position: absolute;
	}
	
	#logo {
		left: calc(50vw - (310px / 2));
	}
	
	nav {
		top: 90px;
		left: calc(50vw - 130px);
	}
	
	.header-margin {
		height: 180px;
	}
}

@media screen and (max-width: 335px) {
	p {
		font-size: 16px;
	}
	
	#logo .img {
		position: relative;
		left: 20px;
	}
	
	#logo img {
		width: 60px;
	}
	
	#logo a {
		font-size: 16px;
	}
}
