body {
	background: #222236;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

#center-piece {
  position: absolute;
  width: 30vw;
  left: 35vw;
  font-family: roboto;
  font-size: 2.6vw;
  text-align: center;
  vertical-align: middle;
  color: #EEF;
}

.quote-by {
  font-size: 1.6vw;
  text-align: right;
	font-style: italic;
}

@media screen and (max-width: 1200px) {
  #center-piece {
    width: 60vw;
    left: 20vw;
    font-size: 5.2vw;
	}
	.quote-by {
    font-size: 3.2vw;
	}
}
